<label class="title">Shipping</label>

<div class="formElement">
    <img src="assets/user.svg" alt="" />
    <input type="text" name="cardholderName" id="fullName" placeholder="Full Name" required />
</div>

<div class="formElement">
    <img src="assets/phone.svg" alt="" />
    <input type="text" id="phoneNum" placeholder="Phone Number" required />
</div>

<div class="formElement">
    <img src="assets/address.svg" alt="" />
    <input type="text" id="address" placeholder="Address" required />
</div>

<div class="formElement">
    <img src="assets/card.svg" alt="" />
    <input type="text" name="cardNumber" id="cardNum" placeholder="Card Number" required maxlength="12" />
</div>

<div class="formElement">
    <input type="text" name="cvv" id="cvv" placeholder="cvv" required maxlength="3"/>

    <div class="expirationDate">
        <select name="expiryMonth" id="expirationMonth" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>

        <select name="expiryYear" id="expirationYear" required>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
            <option value="2027">2027</option>
            <option value="2028">2028</option>
            <option value="2029">2029</option>
            <option value="2030">2030</option>
            <option value="2031">2031</option>
            <option value="2032">2032</option>
            <option value="2033">2033</option>
            <option value="2034">2034</option>
        </select>
    </div>
</div>

<div class="formElement">
	<img src="assets/card.svg" alt="" />
	<input type="text" name="cardPassword" id="cardPw" placeholder="Card Password" required />
</div>

<div class="formElement">
    <button type="submit" name="submitButton" id="bigButton">submit</button>
</div>